<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Хар хэллэгүүд</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>

  
</div>

